.body {
  margin-right: 100px;
  margin-left: 100px;
}
.Header1 {
  width:1350px;
  height: 500px;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      hsla(209, 29%, 24%, 0.384),
      hsla(204, 8%, 76%, 0.493)
    ),
    url(https://i.pinimg.com/564x/60/9e/30/609e309cf4beeae1905a3d84114e9388.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  position: relative;
  overflow-y: visible;
}

.titulo {
  display: flex;
  height: 430px;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  text-align: center;
  font-weight: 800;
  color: white;
}
